body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-addQ {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-addQ .form-addQ-heading,
.form-addQ .checkbox {
  margin-bottom: 10px;
}
.form-addQ .checkbox {
  font-weight: normal;
}
.form-addQ .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-addQ .form-control:focus {
  z-index: 2;
}
.footer div.nav {
  padding-top: 4px;
}