@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
html,p,b,table,form {
	font-size: 16;
}
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
nav,.nav {
	font-size: 16;
}
.jumbotron {
	margin-bottom: 0;
}
div#top {
	margin: 0;
	padding: 0;
}
nav.affix {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.btn>a {
	color: white;
	display: block;
	text-decoration: none;
}
a:link{
	text-decoration:none;
}
body {
	padding-bottom: 45px;
	background: rgba(189,195,199,0.2);
	font-family: 'Josefin Sans', sans-serif;
	text-rendering: optimizeLegibility;	
}
.media {
	margin: 5px;
	padding: 5px;
}
.panel-body {
	overflow-wrap: break-word;
}

.flatcard {
	color: white;
	background: rgba(154,18,179,0.8);
	border-radius: 4px;
	box-shadow: 1px 1px 10px rgba(154,18,179,0.75);;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	vertical-align: top;
	padding: 5px;
	margin: 15px 0;
}

/* Palatte
------------------------- */
.palatte {
	background: #9A12B3;
	padding: 5px;
	margin: 5px;
	display: block;
	color: white;
	font-weight: bold;
}



/* Forum containers
------------------------- */
div.masterQ {
	padding-top: 5px;
	line-height: 20px;
	font-size: 15px;
	overflow: hidden;
}
.list-group {
	overflow: hidden;
}
.list-group-item span, .list-group-item a {
	display: flex;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer div.nav {
	padding-top: 4px;
}

/* Featurettes
------------------------- */

.featurette-divider {
		margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
		font-weight: 300;
		line-height: 1;
		letter-spacing: -1px;
}
/* Carousel base class */
.carousel {
	height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
	/* Navbar positioning foo */
	.container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar {
		padding-right: 0;
		padding-left: 0;
		padding: 0;	
	}

	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 18px;
		font-size: 20px;
		line-height: 1.3;
	}
	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 915px) {
	.featurette-heading {
		margin-top: 120px;
	}
}

@media (min-width: 1104px) {
	.featurette-heading {
		margin-top: 120px;
	}
}