html,p,b,table,form {
  font-size: 16;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
img {
  margin-bottom: 15px;
}
.alert {
  margin: 5px;
  padding: 0;
}
.form-forgot {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-forgot .form-forgot-heading,
.form-forgot .checkbox {
  margin-bottom: 10px;
}
.form-forgot {
  font-weight: normal;
}
.form-forgot .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-forgot .form-control:focus {
  z-index: 2;
}