html,p,b,table,form {
  font-size: 16;
}
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-signup {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
	margin-bottom: 10px;
}
.form-signup .checkbox {
	font-weight: normal;
}
.form-signup .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		   	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signup .form-control:focus {
	z-index: 2;
}
.help-block {
	margin-bottom: 0;
}
.form-group {
	margin-bottom: 7px;
}