/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: fixed;

  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
  z-index: 50;
}
html,p,b,table,form {
  font-size: 16;
}
